{% extends "base_template.twig" %}

{% block page_title %}
    Home page
{% endblock %}

{% block additional_stylesheets %}
    <link rel="stylesheet" href="styles/learn-more.css">
{% endblock %}

{% block page_content %}
    <div class="learn-more__background">
        <div class="learn-more__flex">
            <div class="learn-more__flex__note">Fill in all the blanks now...</div>
            <a class="learn-more__flex__ref_font" href="catalog.php">Learn more</a>
        </div>
    </div>
{% endblock %}


