{% extends "base_template.twig" %}

{% block page_title %}
    Sign up
{% endblock %}

{% block additional_stylesheets %}
    <link rel="stylesheet" href="styles/sign-in.css">
{% endblock %}

{% block page_content %}
    <div class="side-bars">
        <form method="post">
            <div class="container">
                <h1>Register</h1>
                <hr>
                <input type="text" placeholder="Login" name="login" required>
                <input type="password" placeholder="Password" name="password" required>
                <hr>
                <input type="submit" class="sign-in-form__button" value="Sign me up!">
            </div>
        </form>
    </div>
{% endblock %}